---
title: Main page
layout: default
---
{% include slider.html %}
<section id="feature">
  <div class="container">
    <div class="center wow fadeInDown">
      {% for feat in site.data.features %}
        {% if feat.id == 'features' %}
          <h2>{{feat.title}}</h2>
          <p class="lead">{{feat.description}}</p>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="features">
        {% for feat in site.data.features %}
        {% if feat.id == 'features' %}
          {% for f in feat.items %}
            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="feature-wrap">
                <i class="fa {{f.icon}}"></i>
                <h2>{{f.title}}</h2>
                <h3>{{f.meta}}</h3>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
