<nav class="breadcrumb-bg">
    <div class="container-fluid no-index">
        <div class="breadcrumb">
            <ol>
                <li>
                    <a href="/">
                        <span>Головна</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Каталог</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Назва продукту</span>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</nav>