<header id="header">
  <nav class="navbar navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
        <a class="navbar-brand" href="index.html">Gp.</a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="{% if page.url == '/index.html' %} active {% endif %}"><a href="index.html">Home</a></li>
          <li class="{% if page.url == '/services.html' %} active {% endif %}"><a href="services.html">Services</a></li>
          <li class="{% if page.url == '/portfolio.html' %} active {% endif %}"><a href="portfolio.html">Portfolio</a></li>
          <li class="{% if page.url == '/blog.html' %} active {% endif %}"><a href="{{site.baseurl}}/blog.html">Blog</a></li>
          <li class="{% if page.url == '/contact-us.html' %} active {% endif %}"><a href="contact-us.html">Contact</a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->

</header>
<!--/header-->
