<header id="header" class="clearfix">
    <div class="container">
      <div class="topnavbar topnavbar-fixed-top">
        <div class="toplogo">
          <a href="/">Spiver</a>
        </div>
        <div class="topsearch">
          <form class="f_search" action="">
            <input type="submit" value="Find">
            <input type="text" placeholder="Type what to find ...">            
          </form>
        </div>
        <div class="topbtn">
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
    <!--/.container-->
  </div>
  <!--/nav-->

</header>
<!--/header-->
