<aside class="product_sidebar">
    <div class="shop-sidebar-wrapper">
        <div class="shop-widget shop-sidebar-border">
            <h4 class="shop-sidebar-title">Shop By Categories</h4>
            <div class="shop-catigory">
               <ul>
                   <li>
                        <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-1" aria-expanded="false" class="collapsed">Morning Tea <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <ul id="shop-catigory-1" class="panel-collapse collapse" style="">
                            <li><a href="#">Green</a></li>
                            <li><a href="#">Herbal</a></li>
                            <li><a href="#">Loose </a></li>
                            <li><a href="#">Mate</a></li>
                            <li><a href="#">Organic</a></li>
                        </ul>
                   </li>
                   <li>
                        <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-2" aria-expanded="false" class="collapsed">Morning Tea <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <ul id="shop-catigory-2" class="panel-collapse collapse" style="">
                            <li><a href="#">Green</a></li>
                            <li><a href="#">Herbal</a></li>
                            <li><a href="#">Loose </a></li>
                            <li><a href="#">Mate</a></li>
                            <li><a href="#">Organic</a></li>
                        </ul>
                   </li>
                   <li>
                        <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-3" aria-expanded="false" class="collapsed">Morning Tea <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <ul id="shop-catigory-3" class="panel-collapse collapse" style="">
                            <li><a href="#">Green</a></li>
                            <li><a href="#">Herbal</a></li>
                            <li><a href="#">Loose </a></li>
                            <li><a href="#">Mate</a></li>
                            <li><a href="#">Organic</a></li>
                        </ul>
                   </li>
                   <li>
                        <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-4" aria-expanded="false" class="collapsed">Morning Tea <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <ul id="shop-catigory-4" class="panel-collapse collapse" style="">
                            <li><a href="#">Green</a></li>
                            <li><a href="#">Herbal</a></li>
                            <li><a href="#">Loose </a></li>
                            <li><a href="#">Mate</a></li>
                            <li><a href="#">Organic</a></li>
                        </ul>
                   </li>
               </ul>
            </div>
        </div>
        <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
          <h4 class="shop-sidebar-title">Price Filter</h4>
          <div class="price_filter mt-25">
              <span>Range:  $100.00 - 1.300.00 </span>
          </div>
        </div>
    </div>
</aside>