<aside class="product_sidebar col-lg-3 col-md-4 col-sm-4" >
  <div class="sidebar-3 sidebar-collection ">
    <!-- category menu -->
    <div class="sidebar-block">
      <div class="title-block">Категорії</div>
      <div class="block-content">
        <div class="cateTitle hasSubCategory open level1">
          <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
            <i class="zmdi zmdi-minus"></i>
            <i class="zmdi zmdi-plus"></i>
          </span>
          <a class="cateItem" href="#">Назва категорії </a>
          <div class="subCategory collapse" id="livingroom" aria-expanded="true" role="status">
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
              <div class="subCategory collapse" id="subCategory-fruits" aria-expanded="true" role="status">
                <div class="cateTitle">
                  <a href="#" class="cateItem">Назва підкатегорії</a>
                </div>
                <div class="cateTitle">
                  <a href="#" class="cateItem">Назва підкатегорії</a>
                </div>
                <div class="cateTitle">
                  <a href="#" class="cateItem">Назва підкатегорії</a>
                </div>
                <div class="cateTitle">
                  <a href="#" class="cateItem">Назва підкатегорії</a>
                </div>
                <div class="cateTitle">
                  <a href="#" class="cateItem">Назва підкатегорії</a>
                </div>
                <div class="cateTitle">
                  <a href="#" class="cateItem">Назва підкатегорії</a>
                </div>
                <div class="cateTitle">
                  <a href="#" class="cateItem">cushion</a>
                </div>
              </div>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
          </div>
        </div>
        <div class="cateTitle hasSubCategory open level1">
          <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bathroom" aria-expanded="false" role="status">
            <i class="zmdi zmdi-minus"></i>
            <i class="zmdi zmdi-plus"></i>
          </span>
          <a class="cateItem" href="#">Назва категорії</a>
          <div class="subCategory collapse" id="bathroom" aria-expanded="false" role="status">
            <div class="cateTitle">
              <a href="#" class="cateItem">TOMATO</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">BROCCOLI</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">CABBAGE</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">CUCUMBER</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">EGGPLANT</a>
            </div>
          </div>
        </div>
        <div class="cateTitle hasSubCategory open level1">
          <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#diningroom" aria-expanded="false" role="status">
            <i class="zmdi zmdi-minus"></i>
            <i class="zmdi zmdi-plus"></i>
          </span>
          <a class="cateItem" href="#">Назва категорії</a>
          <div class="subCategory collapse" id="diningroom" aria-expanded="true" role="status">
            <div class="cateTitle">
              <a href="#" class="cateItem">DRY BREAD</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">BREAD SLICES</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">FRENCH BREAD</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">BLACK BREAD</a>
            </div>
          </div>
        </div>
        <div class="cateTitle hasSubCategory open level1">
          <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bedroom" aria-expanded="false" role="status">
            <i class="zmdi zmdi-minus"></i>
            <i class="zmdi zmdi-plus"></i>
          </span>
          <a class="cateItem" href="#">Назва категорії</a>
          <div class="subCategory collapse" id="bedroom" aria-expanded="true" role="status">
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
          </div>
        </div>
        <div class="cateTitle hasSubCategory open level1">
          <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#kitchen" aria-expanded="false" role="status">
            <i class="zmdi zmdi-minus"></i>
            <i class="zmdi zmdi-plus"></i>
          </span>
          <a class="cateItem" href="#">Назва категорії</a>
          <div class="subCategory collapse" id="kitchen" aria-expanded="true" role="status">
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
            <div class="cateTitle">
              <a href="#" class="cateItem">Назва підкатегорії</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- best seller -->
    <div class="sidebar-block">
      <div class="title-block">Каталог</div>
      <div class="new-item-content">
        <h3 class="title-product">Категорії каталогу</h3>
        <ul class="scroll-product">
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Каталог1</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Каталог2</b>
              <span class="quantity">(32)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Каталог3</b>
              <span class="quantity">(67)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Каталог4</b>
              <span class="quantity">(15)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Каталог5</b>
              <span class="quantity">(24)</span>

            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Каталог6</b>
              <span class="quantity">(20)</span>

            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Каталог7</b>
              <span class="quantity">(21)</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="new-item-content">
        <h3 class="title-product">Виробники</h3>
        <ul class="scroll-product">
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Samsung</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Dell</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Polygon</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Newment</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Asus</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Mac</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Vaio</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
          <li>
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <a href="#">
              <b>Lettuce</b>
              <span class="quantity">(30)</span>
            </a>
          </li>
        </ul>
      </div> -->
      <!-- <div class="tiva-filter-price new-item-content sidebar-block">
        <h3 class="title-product">За ціною</h3>
        <div id="block_price_filter" class="block">
          <div class="block-content">
            <div id="slider-range" class="tiva-filter">
              <div class="filter-itemprice-filter">
                <div class="layout-slider">
                  <input id="price-filter" name="price" value="0;100" />
                </div>
                <div class="layout-slider-settings"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
      <div class="sidebar-block by-color">
        <h3 class="title-product">За кольором</h3>
        <div>
          <span class="left">
            <label class="color-item1"></label>
            <a href="#">
              <span>Blue
                <span>(30)</span>
              </span>
            </a>
          </span>
          <span class="right">
            <label class="color-item2"></label>
            <a href="#">
              <span>Green
                <span>(30)</span>
              </span>
            </a>
          </span>
        </div>
        <div>
          <span class="left">
            <label class="color-item3"></label>
            <a href="#">
              <span>Yellow
                <span>(30)</span>
              </span>
            </a>
          </span>
          <span class="right">
            <label class="color-item4"></label>
            <a href="#">
              <span>Brown
                <span>(30)</span>
              </span>
            </a>
          </span>

        </div>
        <div>
          <span class="left">
            <label class="color-item5"></label>
            <a href="#">
              <span>Pink
                <span>(30)</span>
              </span>
            </a>
          </span>
          <span class="right">
            <label class="color-item6"></label>
            <a href="#">
              <span>Red
                <span>(30)</span>
              </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="sidebar-block">
      <div class="title-block">
        Best seller
      </div>
      <div class="product-content tab-content">
        <div class="row">
          <div class="item col-md-12">
            <div class="product-miniature item-one first-item d-flex">
              <div class="thumbnail-container border">
                <a href="product-detail.html">
                  <img class="img-fluid image-cover" src="{{ site.baseurl }}/assets/images/gallery/Decoradeluxe4.jpg"
                    alt="img">
                  <img class="img-fluid image-secondary" src="{{ site.baseurl }}/assets/images/gallery/decoradeluxe3.jpg" alt="img">
                </a>
              </div>
              <div class="product-description">
                <div class="product-groups">
                  <div class="product-title">
                    <a href="product-detail.html">Nulla et justo augue</a>
                  </div>
                  <div class="rating">
                    <div class="star-content">
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                    </div>
                  </div>
                  <div class="product-group-price">
                    <div class="product-price-and-shipping">
                      <span class="price">£28.08</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item col-md-12">
            <div class="product-miniature item-one first-item d-flex">
              <div class="thumbnail-container border">
                <a href="product-detail.html">
                  <img class="img-fluid image-cover" src="{{ site.baseurl }}/assets/images/gallery/decoradeluxe6.jpg"
                    alt="img">
                  <img class="img-fluid image-secondary"
                    src="{{ site.baseurl }}/assets/images/gallery/decoradeluxe5.jpg" alt="img">
                </a>
              </div>
              <div class="product-description">
                <div class="product-groups">
                  <div class="product-title">
                    <a href="product-detail.html">Nulla et justo augue</a>
                  </div>
                  <div class="rating">
                    <div class="star-content">
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                    </div>
                  </div>
                  <div class="product-group-price">
                    <div class="product-price-and-shipping">
                      <span class="price">£31.08</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item col-md-12">
            <div class="product-miniature item-one first-item d-flex">
              <div class="thumbnail-container border">
                <a href="product-detail.html">
                  <img class="img-fluid image-cover" src="{{ site.baseurl }}/assets/images/gallery/ArtheMetal2.jpg"
                    alt="img">
                  <img class="img-fluid image-secondary" src="{{ site.baseurl }}/assets/images/gallery/ArtheMetal3.jpg"
                    alt="img">
                </a>
              </div>
              <div class="product-description">
                <div class="product-groups">
                  <div class="product-title">
                    <a href="product-detail.html">Nulla et justo augue</a>
                  </div>
                  <div class="rating">
                    <div class="star-content">
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                    </div>
                  </div>
                  <div class="product-group-price">
                    <div class="product-price-and-shipping">
                      <span class="price">£20.08</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- product tag -->
    <div class="sidebar-block product-tags">
      <div class="title-block">
        Теги продукції
      </div>
      <div class="block-content">
        <ul class="listSidebarBlog list-unstyled">
          {%
                  assign tags =  site.posts
                  | map: 'tag' | join: ','  | split: ','
                %}
          {% for tag in tags  %}
          <li><a href="#">
              {{ tag }}
            </a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</aside>
