<aside class="sidebar-3 sidebar-collection ">
  <div class="widget categories">
    <h3>Categories</h3>
    <div class="row">
      <div class="col-sm-6">
        <ul class="blog_category">
          {% assign cats =  site.categories | unig %}
          {% for cat in cats %}
          <li><a href="#">{{ cat[0] }}
            <span class="badge">{{cat[1].size}}</span>
          </a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
  <!--/.categories-->
  <div class="widget archieve">
    <h3>Archieve</h3>
    <div class="row">
      <div class="col-sm-12">
        <ul class="blog_archieve">
          <li><a href="#"><i class="fa fa-angle-double-right"></i> December 2015 <span class="pull-right">(97)</span></a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2015 <span class="pull-right">(32)</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2015 <span class="pull-right">(19)</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2015 <span class="pull-right">(08)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.archieve-->
  <div class="widget sidebar-block product-tags">
    <h3>Tag Cloud</h3>
    <ul class="listSidebarBlog list-unstyled">
      {%
        assign tags =  site.posts
        | map: 'tag' | join: ','  | split: ','
      %}
      {% for tag in tags  %}
      <li><a href="#">
          {{ tag }}
        </a></li>
      {% endfor %}
    </ul>
  </div>
  <!--/.tags-->

  <!-- TODO: create list of images from blog.  -->
  <div class="widget blog_gallery">
    <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
      <li><a href="#"><img src="{{site.baseurl}}/assets/images/blog/1.jpg" alt="" /></a></li>
      <li><a href="#"><img src="{{site.baseurl}}/assets/images/blog/2.jpg" alt="" /></a></li>
      <li><a href="#"><img src="{{site.baseurl}}/assets/images/blog/3.jpg" alt="" /></a></li>
      <li><a href="#"><img src="{{site.baseurl}}/assets/images/blog/7.jpg" alt="" /></a></li>
      <li><a href="#"><img src="{{site.baseurl}}/assets/images/blog/8.jpg" alt="" /></a></li>
      <li><a href="#"><img src="{{site.baseurl}}/assets/images/blog/9.jpg" alt="" /></a></li>
    </ul>
  </div>
  <!--/.blog_gallery-->
</aside>
