<aside class="col-md-4">
  <div class="widget search">
    <form role="form">
      <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
    </form>
  </div>
  <!--/.search-->
<!-- TODO: creat a link for all categories. -->

  <div class="widget categories">
    <h3>Categories</h3>
    <div class="row">
      <div class="col-sm-6">
        <ul class="blog_category">

          {% assign cats =  site.categories | unig %}
          {% for cat in cats %}
          <li><a href="#">{{ cat[0] }}
            <span class="badge">{{cat[1].size}}</span>
          </a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
  <!--/.categories-->
  <div class="widget archieve">
    <h3>Archieve</h3>
    <div class="row">
      <div class="col-sm-12">
        <ul class="blog_archieve">
          <li><a href="#"><i class="fa fa-angle-double-right"></i> December 2015 <span class="pull-right">(97)</span></a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2015 <span class="pull-right">(32)</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2015 <span class="pull-right">(19)</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2015 <span class="pull-right">(08)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.archieve-->
  <div class="widget tags">
    <h3>Tag Cloud</h3>
    <ul class="tag-cloud">
      {%
        assign tags =  site.posts
        | map: 'tag' | join: ','  | split: ','
      %}
      {% for tag in tags  %}
      <li><a class="btn btn-xs btn-primary" href="#">
          {{ tag }}
        </a></li>
      {% endfor %}
    </ul>
  </div>
  <!--/.tags-->

  <!-- TODO: create list of images from blog.  -->
  <div class="widget blog_gallery">
    <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
      <!-- <li><a href="#"><img src="images/blog/gallery1.png" alt="" /></a></li>
      <li><a href="#"><img src="images/blog/gallery2.png" alt="" /></a></li>
      <li><a href="#"><img src="images/blog/gallery3.png" alt="" /></a></li>
      <li><a href="#"><img src="images/blog/gallery4.png" alt="" /></a></li>
      <li><a href="#"><img src="images/blog/gallery5.png" alt="" /></a></li>
      <li><a href="#"><img src="images/blog/gallery6.png" alt="" /></a></li> -->
    </ul>


  </div>
  <!--/.blog_gallery-->
</aside>
