<div class="slider ">
    <div class="s_img ">
      <div class="intro">
          <h1>Надихайся з нами</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          <a href="" class="center_btn">Про компанію</a>
      </div>
      <div class="owl-carousel">
        <img class="img-blog" src="assets/images/portfolio/full/item1.png" width="100%" alt="" />
        <img class="img-blog" src="assets/images/portfolio/full/item2.png" width="100%" alt="" />
      </div>
    </div>
  
</div>
