<div class="slider ">
    <div class="s_img ">
      <div class="intro">
          <h1>Надихайся з нами</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          <a href="" class="center_btn">Про компанію</a>
      </div>
      <div id="main-slider" class="main-slider owl-carousel">
        
        <img class="img-blog" src="assets/images/portfolio/full/fotolia.jpg"  alt="" />
        <img class="img-blog" src="assets/images/portfolio/full/item3.png"  alt="" />
        <!-- <img class="img-blog" src="assets/images/portfolio/full/Ideas17.jpg" alt="" /> -->
        <img class="img-blog" src="assets/images/portfolio/full/erice.jpg" alt="" />
      </div>
    </div>
  
</div>
