* {
    margin: 0;
    padding: 0;   
}
html,
body {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 36px;
    color: #fff;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

h4 {
    font-size: 16px;
}

a {
    /* color: #E8CE0E; */
    color: #000;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #d43133;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
.f_search {
    display: flex;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    background: #fff9;
    outline: none;
    font-size: 14px;
    
}
input[type="submit"]{
    color: #000;
    border: none;
    background: #fff9;
    padding: 5px 10px; 
    font-size: 14px;
    cursor: pointer;
}

body {
     background: rgb(148, 56, 56);
     font-family: Proxima Nova,
     helvetica neue,
     helvetica,
     arial,
     sans-serif;
     color:#333;
     line-height:1.6em;
     display: flex;
     flex-direction: column;
     align-items: stretch;
     min-height: 100%;
     
}
/* ==== header ==== */
header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.166);
    color: hsla(0, 0%, 100%, .6);
    padding: 10px 0;
    margin-bottom: 20px;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 2000;
}
.topnavbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

}
.topnavbar div{
    /* border: 1px solid greenyellow; */
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.topnavbar .topsearch {
    background: #fff9;
    border-radius: 5px;
}
.topnavbar div:first-child,
.topnavbar div:last-child{
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 200px;
    /* border: 1px solid red; */
    padding: 0 5px;

}
.topnavbar div:last-child ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
.topnavbar div:last-child ul li{
    margin: 0 10px;
}
.topnavbar div:last-child ul li > a {
    font-size: 28px;
    color: #fff;
}
/* ==== !header ==== */
header,
footer,
.wrraper {
    flex-shrink: 0;
}
.wrraper {
    flex-grow: 1;
    margin-top: 100px;
}
.container {
    width: 95%;
    margin: 0 auto;
}
/* ==== main page ==== */

/* ==== !main page ==== */
#footer {
    color: #fff;
    background-color: #000;
    color: hsla(0, 0%, 100%, .6);
    width: 100%;
}
#footer .bottom_menu {
    padding: 10px 0;
    width: 100%;
}
#footer .bottom_menu .f_ul{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
}
#footer a {
    color: #fff9;
    text-decoration: none;
    font-size: 13px;
}

#footer a:hover {
    color: #fff;
}

#footer ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}