---
layout: blog
---
<section id="blog" class="container">
  <div class="blog">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-item">
          <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
              <div class="entry-meta">
                <span id="publish_date">{{ page.time }}</span>
                <span><i class="fa fa-user"></i> <a href="#">{{page.author}}</a></span>
                <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-10 blog-content">
              <a href="#"><img class="img-responsive img-blog" src="{{site.baseurl}}/assets/images/blog/{{page.image}}" width="100%" alt="" /></a>
              <h2><a href="{{site.baseurl}}{{ post.url }}">{{page.title}}</a></h2>
              <h3>{{page.content}}</h3>
              {% include talkyard-comments.html %}
            </div>

          </div>
        </div>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
</section>
