---
layout: blog
---
<section id="blog" class="container">
  <div class="full-blog">
    <div class="blog-item">
      <div class="text-center">
        <div class="entry-meta">
          <span id="publish_date">{{ page.time }}</span>
          <span><i class="fa fa-user"></i> <a href="#">{{page.author}}</a></span>
          <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
          <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
        </div>
      </div>
      <div class="blog-content ">
          <img class="img-responsive img-blog" src="{{site.baseurl}}/assets/images/blog/{{page.image}}" width="100%" alt="" />
        <div class="short-article">
          <h2>{{page.title}}</h2>
        <p>{{page.content}}</p>
        </div>
        {% include talkyard-comments.html %}
      </div>
    </div>
    {% include sidebar.html %}
    </div>
    
  
</section>
